.page__about-movie {
   padding: 10px;
}
.about-movie__bigPoster {
   display: grid;
   place-items: center;
   margin-bottom: 20px;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
}
.about-movie__bigPoster img {
   object-fit: contain;
   width: 100%;
   max-width: 700px;
   max-height: 800px;
}
.about-movie-info > *:not(:last-child) {
   margin-bottom: 10px;
}

.about-movie-info__title {
   display: grid;
   place-items: center;
   margin-bottom: 20px;
}
.about-movie-info__title h2 {
   font-size: 30px;
}
.about-movie-info__actors {
   display: flex;
   flex-wrap: wrap;
}

.about-movie-info__actors > * {
   margin-right: 5px;
}
.about-movie-info__genres {
   display: flex;
   flex-wrap: wrap;
}
.about-movie-info__genres > * {
   margin-right: 5px;
}

.about-movie-info__description {
   font-size: 18px;
}
.about-movie-info__trailer {
   display: grid;
   place-items: center;
   margin: 40px 0px;
}
