.filter{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.filter-block__genre,
.filter-block__releaseYear{
    min-height: 30px;
    background-color: rgb(44, 44, 112);
    font-size: 16px;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-block__genre:hover{
    color: blue;
   }

.filter-block__releaseYear:hover{
 color: blue;
}
